<% layout("/layouts/main") %>
<div class="controls">
    <a id="showViewCreateItem" href="/admin/articles/new-item" class="btn btn-success">Create</a>
    <button id="page-close" data-href="/admin" class="btn btn-success">Close</button>
</div>
<h1>Articles</h1>
<div class="items">
    <ul>
        <% items.forEach(function (item) { %>
        <li class="item">
            <a href="/admin/articles/<%= item.id %>"><%= item.title %></a>
        </li>
        <%  }); %>
    </ul>
</div>

<% if(pagination.countPages > 1){ %>
<%- partial ("../includes/pagination", {pagination: pagination}) %>
<% } %>