<% layout("/layouts/main") %>
<div class="controls">
    <a id="showViewCreateCategory" href="/admin/categories/new-category" class="btn btn-success">Create category</a>
    <button id="page-close" data-href="/admin" class="btn btn-success">Close</button>
</div>
<h1><%= title %></h1>
<ul>
    <% list.forEach(function (item) { %>
       <li><a href="categories/<%= item.id %>"><%= item.title %></a></li>
   <% } )%>
</ul>