<% layout("/layouts/main") %>
<div class="controls">
    <% if(!newCategory){ %>
    <button id="cat-save" class="btn btn-success">Save</button>
    <a id="showViewCreateItem" href="/admin/categories/<%= currCatId %>/new-item" class="btn btn-success">Create item</a>
    <% } else{ %>
    <button id="cat-create" class="btn btn-success">Save</button>
    <% } %>
    <button id="page-close" data-href="/admin/categories" class="btn btn-success">Close</button>
</div>
<h1>Category</h1>
<form method="post" id="category-form">
    <div class="form-group">
        <label>Title</label>
        <input name="title" type="text" class="form-control" value="<%= title %>" />
    </div>
    <div class="form-group">
        <label>Alias</label>
        <input name="alias" type="text" class="form-control" value="<%= alias %>" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea name="description" class="form-control textarea-editor"><%= description %></textarea>
    </div>

    <input type="hidden" name="task" value="close">
    <% if(!newCategory){ %>
        <input type="hidden" name="id" value="<%= currCatId %>" />
    <% } %>
    <input type="hidden" name="type" value="category" />
</form>
<% if(!newCategory){ %>
    <div class="items">
        <ul>
            <% items.forEach(function (item) { %>
                <li class="item">
                    <a href="<%= currCatId + '/' +item.id %>"><%= item.title %></a>
                </li>
            <%  }); %>
        </ul>
    </div>

    <% if(pagination.countPages > 1){ %>
        <%- partial ("../includes/pagination", {pagination: pagination}) %>
    <% } %>
<% } %>