<% layout("/layouts/main"); %>
<div class="controls">
    <% if(newItem){ %>
        <button id="item-create" class="btn btn-success">Save</button>
    <% } else {%>
        <button id="item-save" class="btn btn-success">Save</button>
    <% } %>
    <button id="page-close" data-href="/admin/categories/<%= category %>" class="btn btn-success">Close</button>
    <% if(id){ %>
        <button id="item-remove" class="btn btn-danger">Remove</button>
    <% } %>
</div>
<h1>Item</h1>
<form method="post" id="item-form">
    <div class="form-group">
        <label>Title</label>
        <input name="title" type="text" class="form-control" value="<%= title %>" />
    </div>
    <div class="form-group">
        <label>Alias</label>
        <input name="alias" type="text" class="form-control" value="<%= alias %>" />
    </div>
    <div class="form-group">
        <label>Introimg</label>
        <input type="text" class="form-control" name="introimg" class="introimg" value="<%= introimg %>" />
    </div>
    <div class="form-group">
        <label>Fullimg</label>
        <input type="text" class="form-control" name="fullimg" class="fullimg" value="<%= fullimg %>" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea name="content" class="form-control textarea-editor"><%= content %></textarea>
    </div>

    <input type="hidden" name="task" value="close">
    <input type="hidden" name="id" value="<%= id %>" />
    <input type="hidden" name="catid" value="<%= category %>" />
    <input type="hidden" name="type" value="item" />
</form>