<% layout("/layouts/notlogin") %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <% if(error){ %>
      <div class="alert alert-danger" role="alert">
        <strong><%= error %></strong>
      </div>
    <% } %>
    <h1><%= title %></h1>
    <form method="post">
      <div class="form-group">
        <label>Login</label>
        <input class="form-control" type="text" name="login" placeholder="login" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" name="password" placeholder="password" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>