<% layout("/layouts/main"); %>
<div class="controls">
    <button id="page-close" data-href="/admin" class="btn btn-success">Close</button>
</div>
<% if(message){ %>
    <div class="alert alert-<%= message.type %>" role="alert">
        <%= message.text %>
    </div>
<% } %>
<h1><%= title %></h1>
<div class="container-fluid">
    <div class="row">
        <div class="media-manag-wr">
            <%- partial ("../includes/mediapart") %>
        </div>
    </div>
</div>