<% layout("/layouts/main") %>
<div class="controls">
    <button id="menu-save" class="btn btn-success">Save</button>
    <a id="showViewCreateItem" href="/admin/menus/<%= menuId %>/new-item" class="btn btn-success">Create</a>
    <button id="page-close" data-href="/admin/menus" class="btn btn-success">Close</button>
</div>
<h1>Menu</h1>
<form method="post" id="menu-form">
    <div class="form-group">
        <label>Title</label>
        <input name="title" type="text" class="form-control" value="<%= title %>" />
    </div>

    <input type="hidden" name="task" value="close">
    <input type="hidden" name="id" value="<%= menuId %>" />
    <input type="hidden" name="type" value="menu" />
</form>
<div class="items">
    <ul>
        <% items.forEach(function (item) { %>
        <li class="item">
            <a href="<%= menuId + '/' +item.id %>"><%= item.title %></a>
        </li>
        <%  }); %>
    </ul>
</div>

<% if(pagination.countPages > 1){ %>
<%- partial ("../includes/pagination", {pagination: pagination}) %>
<% } %>