<% layout("/layouts/main") %>
<div class="row">
    <div class="col-md-9">
        <h1><%= title %></h1>
        <ul>
            <% list.forEach(function (item) { %>
            <li><a href="menus/<%= item.id %>"><%= item.title %></a></li>
            <% } )%>
        </ul>
    </div>
</div>