<% layout("/layouts/main"); %>
<div class="controls">
    <% if(newItem){ %>
    <button id="item-create" class="btn btn-success">Save</button>
    <% } else {%>
    <button id="item-save" class="btn btn-success">Save</button>
    <% } %>
    <button id="page-close" data-href="/admin/menus/<%= menuid %>" class="btn btn-success">Close</button>
    <% if(id){ %>
    <button id="item-remove" class="btn btn-danger">Remove</button>
    <% } %>
</div>
<h1>Menu-item</h1>
<form method="post" id="item-form">
    <div class="form-group">
        <label>Title</label>
        <input name="title" type="text" class="form-control" value="<%= title %>" />
    </div>
    <div class="form-group">
        <label>Url</label>
        <input name="url" type="text" class="form-control" value="<%= url %>" />
    </div>
    <div class="checkbox">
        <label>
            <input name="published" type="checkbox" <% if(published){ %><%= 'checked="checked" '%><%}%>value="1"> Published
        </label>
    </div>
    <input type="hidden" name="task" value="close">
    <input type="hidden" name="id" value="<%= id %>" />
    <input type="hidden" name="menuid" value="<%= menuid %>" />
    <input type="hidden" name="type" value="menuitem" />
</form>