<% var data = new Date(); %>
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    &copy; Copyright <%= data.getFullYear() %>
                </div>
            </div>
        </div>
    </div>
</footer>