<header class="header">
    <div class="h-top">
        <div class="container">
            <div class="row">
                <div class="col l10">
                    <div class="logo">
                        <a href="/"></a>
                    </div>
                </div>
                <div class="col l2">
                    <div class="search-bl">
                        <form>
                            <div class="input-field">
                                <label for="search">Search</label>
                                <input class="form-control" id="search" name="search" type="search" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="h-bottom">
        <div class="container">
            <% menu.forEach(function (el) { %>
                <a class="collection-item" href="<%= el.url %>"><%= el.title %></a>
            <% }); %>
        </div>
    </div>
</header>