<div class="pagination-wr">
    <ul class="pagination">
        <li class="waves-effect">
            <a href="#">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
        <% for(let i = 1; i <= pagination.countPages; i++){ %>
            <li class="waves-effect"><a href="/<%= pagination.rootPath + '?page=' + i %>"><%= i %></a></li>
        <% }%>
        <li class="waves-effect">
            <a href="#" aria-label="Next">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    </ul>
</div>