<!DOCTYPE html>
<html>
    <%- partial ("../includes/head") %>
    <body>
        <div class="globwrap">
            <%- partial ("../includes/header") %>
            <div class="container rootcont">
                <div class="row">
                    <main class="main col l9 push-l3">
                        <%- body %>
                    </main>
                    <div class="sidebar col l3 pull-l9">
                        <%- partial("../includes/sidebar") %>
                    </div>
                </div>
            </div>
        </div>
        <%- partial ("../includes/footer") %>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/materialize/dist/js/materialize.min.js"></script>
    </body>
</html>