.glyphicon{
  @extend .fa;
}
.glyphicon-eye-open{
  @extend .fa-eye;
}
.glyphicon-pencil{
  @extend .fa-pencil;
}
.glyphicon-trash{
  @extend .fa-trash;
}
.glyphicon-folder-open{
  @extend .fa-folder-open;
}
.nav-link.logout{
  background: transparent;
  border: none;
}
img{
  max-width: 100%;
  height: auto;
}
.m-folder{
  cursor: pointer;
}
.media-manag-wr .form-group{
  margin-bottom: 15px;
}
button{
  cursor: pointer;
}