<% var data = new Date(); %>
<footer class="sticky-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="copyright">
                    &copy; Copyright <%= data.getFullYear() %>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/admin/js/jquery.min.js"></script>
<script src="/admin/js/tinymce.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="/admin/js/app.min.js"></script>
<script src="/admin/js/utils.js"></script>