<div class="form-inline">
    <div class="form-group">
        <input type="text" id="newfolder" placeholder="folder name" class="form-control" name="newfolder">
        <button class="btn btn-success m-create-folder">Create folder</button>
    </div>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="form-inline">
        <div class="form-group">
            <input type="file"  name="newfile">
            <button name="submit" type="submit" class="btn">Upload</button>
        </div>
    </div>
    <input type="hidden" name="task" value="upload">
    <input type="hidden" name="currfolder" value="<%= currFolder %>">
</form>
<div class="path-in-media">
    Path: <span class="curr-folder-media"><%= currFolder %></span>
</div>
<div class="row">
    <% if(currFolder.length > 1){ %>

    <div class="col-sm-2">
        <div data-path="<%= path %>" class="backinfm">
            <div><i class="glyphicon glyphicon-arrow-left"></i></div>
            <div>back</div>
        </div>

    </div>
    <% } %>
    <% containe.forEach(function(el) { %>

        <div class="col-sm-2">
            <% if(el.type == 'file'){ %>
                <div class="img-wr">
                    <img src="/images/content<%= currFolder %>/<%= el.name %>">
                    <div class="delete-file">x</div>
                </div>
                <div class="filename"><%= el.name %></div>
            <% }else{%>
                <div class="img-wr">
                    <div data-name="<%= el.name %>" data-path="<%= el.path %>" class="glyphicon glyphicon-folder-open m-folder"></div>
                </div>
                <div data-path="<%= el.path %>" data-name="<%= el.name %>"
                 class="filename m-folder"><%= el.name %></div>
            <%}%>


        </div>
    <% });%>
</div>