<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <% for(let i = 1; i <= pagination.countPages; i++){ %>
        <li><a href="/<%= pagination.rootPath + '?page=' + i %>"><%= i %></a></li>
        <% }%>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>