<!DOCTYPE html>
<html>
<%- partial ("../includes/head") %>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<div class="content-wrapper">
    <%- partial ("../includes/header") %>
    <div class="container rootcont">
        <div class="row">
            <main class="main col">
                <%- body %>
            </main>
        </div>
    </div>
</div>
<%- partial ("../includes/footer") %>
</body>
</html>