<!DOCTYPE html>
<html>
<%- partial ("../includes/head") %>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<div class="content-wrapper">
    <div class="container rootcont">
            <main class="main">
                <%- body %>
            </main>
    </div>
</div>
<%- partial ("../includes/footer") %>
</body>
</html>