<% layout("/layouts/main"); %>
<div class="category-page">
<h1><%= title %></h1>
<% if (description){%>
    <div class="description">
        <%- description %>
    </div>
<% } %>
<div class="items">
    <% items.forEach(function (item) { %>
        <div class="item">
            <% if(item.introimg){ %>
                <div class="introimg">
                    <figure>
                        <a href="<%= alias + '/' +item.alias %>"><img src="<%= item.introimg %>" alt=""></a>
                    </figure>
                </div>
            <% } %>
            <a href="<%= alias + '/' +item.alias %>"><%= item.title %></a>
            <div class="text">
                <%- item.content.substr(0, 100) + '...' %>
            </div>
        </div>
    <%  }); %>
</div>
<% if(pagination.countPages > 1){ %>
    <%- partial ("../includes/pagination", {pagination: pagination}) %>
<% } %>
</div>