<% layout("/layouts/main") %>
<h1><%= title %></h1>
<% if (createdate){%>
    <div class="date">
        <%= createdate %>
    </div>
<% } %>
<% if (fullimg){%>
    <div class="fullimg">
        <figure><img src="<%= fullimg %>" alt=""></figure>
    </div>
<% } %>
<div class="content"><%- content %></div>