.category-page{
  .introimg{
    height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
    img{
      object-fit: cover;
      width: 100%;
      height: 250px;
      transition: all 1s;
    }
    a{
      position: relative;
      text-align: center;
      display: block;
      &:before{
        @extend .material-icons;
        content: "remove_red_eye";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .1);
        z-index: 1;
        transition: all .5s;
        font-size: 3px;
        line-height: 250px;
        color: transparent;
      }
      &:hover{
        img{
          transform: scale(1.1) rotate(2deg);
        }
        &:before{
          background: rgba(0, 0, 0, .3);
          font-size: 80px;
          color: $white;
        }
      }
    }
  }
}