.header{
  padding-top: 20px;
  .h-bottom{
    @extend .light-green, .lighten-2;
    height: 50px;
  }
}
.logo{
  a{
    width: 300px;
    height: 120px;
    display: block;
    background: url("../images/style/logo.png");
  }
}