body {
  background: #fff;
  color: #000;
  //font: $regular $f-size / 1.3 $f-stack-base;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.globwrap{
  flex: 1 0 auto;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
ul, ol{
  padding: 0;
  margin: 0;
}
a{
  outline: none;
  color: $link;
  transition: all .3s;
  text-decoration: none;
  &:hover, &:focus{
    outline: none;
  }
  &:hover{
    text-decoration: underline;
  }
}
a[href^="tel:"]{
  color: inherit;
  cursor: default;
}
img{
  max-width: 100%;
  height: auto;
}
textarea{
  resize: none;
  overflow: hidden;
}
body, html{
  height: 100%;
}
table{
  width: 100%;
  border-collapse: collapse;
}
p{
  margin: 0 0 10px 0;
}
//.wrap{
//  position: relative;
//  padding: 0 @trim;
//  margin: 0 auto;
//  width: @cont-width;
//  .clearfix;
//}
h1 {
  margin: 0 0 35px 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: normal;
  text-transform: uppercase;
}
h1, h2, h3{
  text-transform: uppercase;
}
h1, h2{
  font-size: 30px;
}
h2, h3 {
  margin: 10px 0 15px 0;
}

h3{
  font-size: 24px;
}
h4, h5, h6 {
  margin: 0 0 10px 0;
}
h5{
  font-size: 16px;
}
.main{
  padding-bottom: 320px;
}
.bgimg {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.bgimgcont{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.dib {
  display: inline-block;
  vertical-align: top;
}
.d-table{
  display: table;
  width: 100%;
}
.d-cell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.modal_active {
  overflow: hidden;
}
.modal_div {
  width: 556px;
  height: 695px;
  position: fixed;
  top: 45%; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
  left: 50%; /* половина экрана слева */
  margin-top: -347px;
  margin-left: -278px; /*отступаем влево и вверх минус половину ширины и высоты соответственно*/
  display: none;
  z-index: 999;
  padding: 50px 80px 0;
  opacity: 0;
  background: #fff;
  .modal_close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 17px;
    right: 17px;
    cursor: pointer;
    display: block;
    background: url("../images/closemodal.png") no-repeat;
  }
}

/* Подложка */
.modal_overlay {
  z-index: 99;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}
.btn{
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 40px;
  height: 40px;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 2px;
  text-transform: uppercase;
  &:hover{
    text-decoration: none;
  }
}
.slick-slide{
  outline: none;
  img{
    display: inline-block;
  }
}
.contenttab{
  display: none;
  &.activetab{
    display: block;
  }
}
.loading-overlay{
  &::before{
    content: "";
    display: block;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5) url("../images/loading2.gif") no-repeat 50% 50%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.desc-hidden,
.hidden,
.mobile-visible{
  display: none;

}
.pull-left{
  float: left;
}
.pull-rigth{
  float: right;
}
.opacity-0{
  opacity: 0;
}
.opacity-1{
  opacity: 1;
}
figure{
  margin: 0;
}